.filter-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-section label {
    margin-right: 15px; /* Add some space to the right of the label */
    font-size: 16px;
}
.label-text{
    margin-left: 7px;
}

.filter-section input[type="date"] {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    transition: border-color 0.3s ease;
}

.filter-section input[type="date"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.filter-section label input[type="date"] {
    margin-left: 5px;
}

/* Hover and Active Styles */
.filter-section input[type="date"]:hover {
    border-color: #0056b3;
}





.logs-table-container {
    max-width: 90%;
    margin: auto;
    overflow-x: auto;
}

.logs-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.logs-table th,
.logs-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.logs-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}
